<div class="row" background-color = "white">
  <div class="col-md-6">
  	<%= image_tag("logo.jpg" ,width: "100%", height: "350px", :class => "logo") %></div>
  <div class="col-md-6">
  	<h1 color = "white" > Why don't you grow it yourself?</h1>
  	<br>
  	<p> 
  		Welcome friend, you have come to the right place. Growbox Technologies is one of the first company in Quebec to produce grow boxes to grow your own vegetables. We believe that the best organic food can be homegrown and accessible to individuals. The advantage of our small green-houses are optimal grow conditions, easy maintenance, low noise, discrete, highly rewarding.
  	</p>
  	<br>
  	<p> For business enquiries, contact growboxtechnologies@gmail.com </p>
  	<h2> 
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-3"><%= image_tag("box.png" ,width: "100%", height: "600px") %></div>
  <div class="col-md-4">
  	<p>
  		Each Growbox is made with 100% recycled wood cabinets. These are boutique Growbox that can fit in your living room,
  		your basement and even your bedroom.
  	</p>
  	<br>
  	<p>
  		Every box is equiped with a LED growlight, two low-noise fans, 
  		a smell reduction unit, a user friendly control panel and
  		a control unit which is ARM-based. 
  	</p>
  	<br>
  	<h1> Price : 1000$ </h1>
  	<h1> Location contract:<br> 
  		 200$ for 80 days 
  	</h1>
  	<br>
  	<br>
  	<q> Love is the flower you've got to let grow </q>
  	<p> John Lennon </p>
  </div>
  <div class="col-md-5">
  <li>
  <p>Experiment #8.
      Grown in the Research and Development Labs of Growbox Technologies, Montreal Canada. This is a Gorrilla Glue strain. 65 Days. One picture per hour.</p>
  <iframe width="420" height="345" src="https://www.youtube.com/embed/Ho373o5pNmg"></iframe>
  </li>
  </div>
</div>
