<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Growbox Technologies</title>
   <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<style>
	p{
		color: white;
		padding-top: 10px;
    	padding-right: 20px;
    	padding-bottom: 10px;
    	padding-left: 20px;
	}
	q{
		color: white;
		padding-top: 10px;
    	padding-right: 20px;
    	padding-bottom: 10px;
    	padding-left: 20px;
	}
	h1{
		color: white;
		font-family:'Black Ops One', cursive;
		padding-top: 10px;
    	padding-right: 20px;
    	padding-bottom: 10px;
    	padding-left: 20px;
	}


	body {
    background-color: black;
	}
</style>
<body>
<%= yield %>
</body>
</html>
